
<div class="row">
	<div class="columns ten">
		<h3>Register</h3>

		<form action="/users" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
			<label>Username:</label>
			<input type="text" name="user[username]">

			<% if flash[:username] %>
				<br>
				<p style="color:red;"><%= flash[:username]%></p>
			<% end %>

			<label>Email:</label>
			<input type="email" name="user[email]">

			<% if flash[:email] %>
				<br>
				<p style="color:red;"><%= flash[:email]%></p>
			<% end %>

			<label>Password:</label>
			<input type="password" name="user[password]">

			<% if flash[:password] %>
				<br>
				<p style="color:red;"><%= flash[:password]%></p>
			<% end %>

			<label>Confirm Password:</label>
			<input type="password" name="user[password_confirmation]">
			<br/>
			<button type="submit" class="button-primary">Register</button>
		</form>

		<a href="/login">Already Registered?</a>
	</div>
</div>